<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name and Surname Form</title>
</head>
<body>
<h1>Enter Your Name and Surname</h1>

<form action="/submit" method="POST">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required><br><br>

  <label for="lastName">Surname:</label>
  <input type="text" id="lastName" name="lastName" required><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
