@media only screen and (max-width: 600px) {
    body {
    background-color: lightblue;
    height: 100vh;
    }
}

.nome_significativo {
    font-weight: 600;
}

.borded {
    background-color: chocolate;
    text-align: center;
    border: 1px solid #234;
    width: 200px;
    height: 200px;
    margin: auto;
}

.borded:hover {
    background-color: red;
    width: 300px;
}

.resp {
    display: flex; flex-wrap: wrap;
}

#Ocio {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50%;
}